version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    # Look for manifest files in the `root` directory
    directory: "/"
    # Check for updates daily
    schedule:
      interval: "daily"
